@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title</h3>

<p>The Green Bean Scheduler is a student multi-year scheduling tool for undergraduate students 
    in software engineering at Concordia University. The application should be able to generate and 
    automatically readjust schedule to meet any specific needs of a student such as 
    no class on certain time or day of the week. Also the application should
    output the student schedules for subsequent semesters until graduation known as course sequences. </p>

<p> The scope of the Green Bean Scheduler is currently limited to the undergraduate students
    in software engineering at Concordia University only. The extension of the application 
    to all undergraduate programs is considered for the next generation of the application development.</p>

<p>
    <table style="width:100%;">
        <tr>
            <td><h4>Green Bean team: </h4></td>
            <td>Lay Heng</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Emile Aun</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Ihan Heng</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Jacob Percs</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Jaswanth Kumar</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Lenz Petion</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Mengzhe Yang</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Nasir Ayofe</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Nicolas Burdet</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Sun He Li</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Sylvain Czyzewski</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Zan Wang</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</p>
