@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title</h3>


<p>The Green Bean team is happy to hear your feedback. You can drop us a line at the following email address.</p>
<p>  &nbsp;</p>
<address>
    <strong>Email:</strong>   <a href="mailto:henglay@hotmail.com">henglay@hotmail.com</a><br />
</address>