@{
    ViewBag.Title = "Green Bean";
}

<p>
    <h2>Student Program Planner</h2>
</p>
<p>
    <table style="width:100%;">
        <tr>
            <td class="auto-style1">Student Number</td>
            <td>
                <input id="Text1" type="text" />
            </td>
        </tr>
        <tr>
            <td class="auto-style1">Term</td>
            <td>
                <input id="Text2" type="text" />
            </td>
        </tr>
        <tr>
            <td class="auto-style1">&nbsp;</td>
            <td>
                <input id="Submit1" type="submit" value="Generate Course Sequence" />
            </td>
        </tr>
    </table>
</p>

<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>

<p>* Note that the application is currently under development in prototype phase.</p>
<p>
    <img src="~/Images/ProjectTimeline.png" />
    </p>
